@import url(https://anegasakii.github.io/base.css);

p {
    font-size: 200%; color: var(--darkest);
}
iframe {
    width: 600px;
    height: 400px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.text {
    width: 40%;
}
@media (max-width: 1250px){
    iframe { order: 0; }
    .text { order: 1; width: 100%}
    .flex{
        flex-direction:column;
        align-items: center;
    }
}