@import url(https://anegasakii.github.io/base.css);
body { margin: 2%; }
p {
    font-size: 200%; color: var(--lighter);
}
iframe {
    width: 600px;
    height: 400px;
    touch-action: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.text {
    width: 40%;
}

.MJX-TEX { color: white; }

@media (max-width: 1250px){
    iframe { order: 0; }
    .text { order: 1; width: 100%}
    .flex{
        flex-direction:column;
        align-items: center;
    }
    body {
        min-width: min-content;
    }
    html {
        padding: 2vh 2vw;
    }
}